<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
{% load static %}
<link rel="stylesheet" href={% static 'style.css' %} type="text/css">

{% load template_filters %}

{% block head %}
    <title>Alternatives comparison</title>
{% endblock head %}

{% block body %}
    <div class="header">
        <div class="container">
            <h1>Сравнение альтернатив</h1>
        </div>
    </div>
    <div class="container">
        {% if show %}
            {% for criterion in criterions %}
                <br><h3>Сравнение по критерию {{ criterion.cname }}</h3><br>
                {{ df_dict| get_item:criterion.id| safe }}
                <br>
            {% endfor %}
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-lg" name="check">Проверить на корректность</button>
            </form>
            
        {% elif check %}
            {% for criterion in criterions %}
                <br><h3>Сравнение по критерию {{ criterion.cname }}</h3><br>
                {{ df_consistency_dict|get_item:criterion.id|safe }}
                <br>
                {% if consistency_marks|get_item:criterion.id < 1%}
                    <div class="add-border alert alert-success">
                        <p>Показатель согласованности меньше 1, можно продолжать анализ</p>
                        <p>{{ consistency_marks|get_item:criterion.id }}</p>
                    </div>
                {% else %}
                    <div class="add-border alert alert-danger" role="alert">
                        <p>Показатель согласованности больше или равен 1</p>
                        <p>{{ consistency_marks|get_item:criterion.id }}</p>
                    </div>
                {% endif %}
                <br>
            {% endfor %}
            <br>
            <form method="post">
                {% csrf_token %}
                {% if show_summary_btn %}
                    <button type="submit" class="btn btn-success btn-lg" name="next">Подсчет итогов</button>
                {% else %}
                    <button type="submit" class="btn btn-secondary btn-lg" name="main">На главную</button>
                {% endif %}
            </form>
            
        {% else %}
            <form method="post">
                {% csrf_token %}
                {% for criterion in criterions %}
                    <br><h3>Сравнение по критерию {{ criterion.cname }}</h3><br>
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <th>Альтернативы</th>
                            {% for a in alternatives %}
                                <th>{{ a.aname }}</th>
                            {% endfor %}
                        </thead>
                        {% for ar in alternatives %}
                            <tr>
                                <td>{{ ar.aname }}</td>
                                {% for ad in alternatives %}
                                    {% if forloop.counter == forloop.parentloop.counter %}
                                        <td>1</td> 
                                    {% elif forloop.counter > forloop.parentloop.counter %}
                                        <td><input type="text" class="table-input" name="{{ criterion.id }}_{{ ar.id }}_{{ad.id}}"/></td>
                                    {% else %}
                                        <td>-</td> 
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %} 
                <br>    
                <button type="submit" class="btn btn-success btn-lg" name="show">Рассчитать</button>
            </form>
        {% endif %}   
    </div>
    {% endblock body %}