<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
{% load static %}
<link rel="stylesheet" href={% static 'style.css' %} type="text/css">

{% block head %}
    <title>Alternatives info</title>
{% endblock head %}

{% block body %}
    <div class="header">
        <div class="container">
            <h1>Информация по альтернативам</h1>
        </div>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <br>
            <table class="table table-striped table-bordered text-center">
                <tr>
                    <th class="table-th">Значения</th>
                    {% for c in criterions %}
                        <th class="table-th">{{ c.cname }}</th>
                    {% endfor %}
                </tr>
                {% for a in alternatives %}
                    <tr>
                        <td>{{ a.aname }}</td>
                        {% for c in criterions %}
                            <td><input type="text" class="table-input" name="{{ a.id }}_{{ c.id }}"/></td>
                        {% endfor %} 
                    </tr> 
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-success">Далее</button>
        </form>
    </div>
{% endblock body %}