<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
{% load static %}
<link rel="stylesheet" href={% static 'style.css' %} type="text/css">

{% block head %}
    <title>Criterions comparison</title>
{% endblock head %}

{% block body %}
    <div class="container">
        <h1>Сравнение критериев</h1>
        <br>
        <form method="post">
            <table>
                <tr>
                    <th>Критерии</th>
                    {% for c in criterions %}
                        <th>{{ c.cname }}</th>
                    {% endfor %}
                </tr>
                {% for cr in criterions %}
                    <tr>
                        <td>{{ cr.cname }}</td>
                        {% for cd in criterions %}
                            {% if forloop.counter == forloop.parentloop.counter %}
                                <td>1</td> 
                            {% elif forloop.counter > forloop.parentloop.counter %}
                                <td><input type="text" class="table-input" name="{{ cr.id }}_{{cd.id}}"/></td>
                            {% else %}
                                <td>рассчет</td> 
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <br>
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Рассчитать</button>
        </form>
    </div>
    {% endblock body %}