<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
{% load static %}
<link rel="stylesheet" href={% static 'style.css' %} type="text/css">

{% load template_filters %}

{% block head %}
    <title>Final comparison</title>
{% endblock head %}

{% block body %}
    <div class="container">
        <h1>Итог</h1>
        <table>
            <tr>
                <th>Альтернатива</th>
                <th>Значение глобального критерия</th>
            </tr>
            {% for a in alternatives %}
                <tr>
                    <td>
                        {{ a.aname }}
                    </td>
                    <td>
                        {{ result|get_item:a.aname|safe }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="show">Кнопа</button>
        </form> 
    </div>
    {% endblock body %}