<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
{% load static %}
<link rel="stylesheet" href={% static 'style.css' %} type="text/css">

{% block head %}
    <title>Start analysis page</title>
{% endblock head %}

{% block body %}
    <div class="header">
        <div class="container">
            <h1>Старт анализа</h1>
        </div>
    </div>
    <div class="container">
        <form method="post">
            {% csrf_token %} 
            <div class="add-border">
                <p>Введите критерии:</p>
            </div>
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <th style="width:150px" class="table-th">Критерий</th>
                    <th class="table-th">Название</th>
                </thead>  
                {% for i in criterions %}
                    <tr>
                        <td>{{ i }}</td>
                        <td class="table-editable"><input type="text" class="table-input" name="c_{{ i }}"/></td>
                    </tr>
                {% endfor %}
            </table>
            
            <div class="add-border">
                <p>Введите альтернативы:</p>
            </div>
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <th style="width:150px" class="table-th">Альтернатива</th>
                    <th class="table-th">Название</th>
                </thead>
                {% for i in alternatives %}
                    <tr>
                        <td>{{ i }}</td>
                        <td><input type="text" class="table-input" name="a_{{ i }}"/></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="add-border">
                <button type="submit" class="btn btn-success">Далее</button>
            </div>
        </form> 
    </div>
{% endblock body %}


