<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
{% load static %}
<link rel="stylesheet" href={% static 'style.css' %} type="text/css">

{% block head %}
    <title>Start analysis page</title>
{% endblock head %}

{% block body %}
    <div class="container">
        <h1>Старт анализа</h1>
        <form method="post"> 
            <p>Введите критерии:</p>
            <br>
            <table>
                <tr>
                    <th>Критерий</th>
                    <th>Название</th>
                </tr>
                {% for i in criterions %}
                    <tr>
                        <td>{{ i }}</td>
                        <td><input type="text" class="table-input" name="c_{{ i }}"/></td>
                    </tr>
                {% endfor %}
            </table>
            
            <p>Введите альтернативы:</p>
            <br>
            <table>
                <tr>
                    <th>Альтернатива</th>
                    <th>Название</th>
                </tr>
                {% for i in alternatives %}
                    <tr>
                        <td>{{ i }}</td>
                        <td><input type="text" class="table-input" name="a_{{ i }}"/></td>
                    </tr>
                {% endfor %}
            </table>

            
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Старт</button>
        </form> 
    </div>
{% endblock body %}


